/* SLIDER -------------------------------------------------------------------- */

.image-slider {
    position: relative;
    width: 80%;
    padding-top: 30.25%; 
    overflow: hidden;
    margin: 0 auto; /* Centra el slider horizontalmente */
  }
  
  .image-slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .image-slider .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto de aca mantiene la proporción de las imágenes */
  }
  
  .image-slider .slide.active {
    opacity: 1; /* Muestra la imagen activa */
  }
  
  
  /* Reecuadro de opciones -------------------------------------------- */
  
  .antoja-section {
    text-align: center;
    margin: 20px 0;
  }
  
  
  .antoja-section  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
  }
  
  .option {
    border-radius: 15px;
    padding: 20px 25px;
    margin: 10px;
    color: rgb(39, 38, 39);
    font-weight: bold;
    text-align: center;
    flex: 1 1 70px; /* Aumenta la flexibilidad del tamaño */
    transition: transform 0.3s;
  }
  
  .option:hover {
    transform: scale(1.05); 
  }
  
  /* Responsive Design */
  @media (max-width: 300px) {
    .option {
      flex: 1 2 60%; /* Un solo elemento por fila en pantallas pequeñas */
    }
  }
  
  /* PUBLICIDAD ---------------------------------------------------------- */
  
  .publicidades {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
  }
  
  .publicidad {
    width: 20%; 
    min-height: 400px; 
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .publicidad img {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
    border-radius: 10px;
  }
  
  /* Estilo del texto debajo de la imagen */
  .publicidad p {
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  @media (max-width: 1024px) {
    .publicidad {
      width: 45%; 
      min-height: 300px; 
    }
  }
  
  @media (max-width: 790px) {
    .publicidad {
      width: 60%; 
      min-height: 200px; 
    }
  }
  
  /* Pie de Pagina ----------------------------------------- */
  .pie-pagina {
    width: 100%;
    margin-top: 20px;
    background-color: #d4eed3;
  }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img {
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2 {
    color: #000000;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p {
    color: #313131;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #7c9b6f;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
  }
  .pie-pagina .grupo-2 {
    background-color: #7c9b6f;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .pie-pagina .grupo-2 small {
    font-size: 15px;
  }
  @media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
    }
  }
  